/* base css start */
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
:root {
  --main-color: #87ceeb33;
  --blue-color: rgb(69, 170, 242);
  --blue-color2: #c2e7ff;
  --green-color: #4caf50;
  --red-color: rgb(193, 53, 21);
  --border-color: 0.1rem solid rgb(0, 0, 0, 1);
  --black-color: rgb(0, 0, 0);
  --post-color: rgb(221, 219, 219);
  --post-color2: rgb(201, 196, 196);
}
/* base css end */

/* header start */
header .u-navbar {
  display: flex;
  justify-content: space-around;
  align-items: center;
  height: 54px;
  background-color: #eeeeee;
}
header .u-navbar .u-search form input {
  padding: 0 1rem;
}
header .u-navbar div ul {
  display: flex;
  justify-content: space-around;
  align-items: center;
  list-style: none;
  gap: 1rem;
}
header .u-navbar div ul li img {
  display: flex;
  justify-content: space-around;
  align-items: center;
  height: 1.8rem;
  border-radius: 50%;
}
/* header end */

/* main start */
/* article start */
/* story start */
.story {
  display: flex;
  justify-content: start;
  align-items: center;
  text-align: center;
  gap: 1rem;
  padding-top: 0.5rem;
  overflow: hidden;
}
.story-img {
  height: 4rem;
  width: 4rem;
  object-fit: cover;
  border-radius: 50%;
}
.story-text {
  font-size: 0.5rem;
}
/* story end */

/* post start */
.post {
  padding: 2rem 4rem;
  background-color: rgba(204, 204, 204, 0.4);
  border: 1px solid var(--post-color);
}
.post .post-header {
  display: flex;
  justify-content: start;
  align-items: start;
  gap: 0.4rem;
  padding-bottom: 0.2rem;
  background-color: var(--post-color);
}
.post .post-header .posting-person-img img {
  height: 20px;
  width: 20px;
  object-fit: cover;
  border-radius: 50%;
}
.post .post-header .posting-person-name {
  font-size: 1rem;
}
.post .post-body img {
  height: 20rem;
  width: 100%;
  object-fit: cover;
}
.post .post-footer {
  height: 2rem;
  background-color: var(--post-color);
  padding: 0.2rem 0.8rem;
}
.post .post-footer .post-icon {
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-size: 1rem;
}
.post .post-footer .post-icon .post-icon1 {
  display: flex;
  gap: 0.4rem;
}
.post .likes {
  display: flex;
  justify-content: start;
  align-items: center;
}
.post .likes p {
  line-height: 0.5rem;
}
.post .likes img {
  height: 1.5rem;
  width: 1.5rem;
  border-radius: 50%;
}
.post .comments p,
.post .post-comment p {
  line-height: 0.5rem;
}
.post .comment {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: var(--post-color);
  padding: 0.2rem 1rem 0;
}
.post .comment .comment-share a {
  text-decoration: none;
}
/* post end */
/* article end */

/* aside start */
.box {
  background-color: #fff;
  border-radius: 1rem;
  padding: 1.5rem;
}
.box .box-container .nav-link span img {
  width: 60px;
  height: 60px;
  border-radius: 50%;
  border: 2px solid rgb(238, 39, 82);
  margin-left: -15px;
}
.box .box-container .nav-link span .user-name {
  font-size: 15px;
  color: black;
  margin-left: 1rem;
}
.box .box-container .recommended span img {
  width: 30px;
  height: 30px;
  border-radius: 50%;
}
.box .box-container .recommended {
  text-decoration: none;
  display: flex;
  justify-content: start;
  align-items: center;
}
.box .box-container .recommended a {
  text-decoration: none;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.box .box-container .recommended a .post-user-font1 {
  font-size: 16px;
  color: #ccc;
  margin-top: 5px;
  margin-left: 5px;
}
.box .box-container .recommended a .post-user-font2 {
  font-size: 13px;
  color: #0095f6;
  margin-top: 5px;
  margin-left: 25px;
}
.suggestion {
  border: 1px solid var(--post-color);
}
/* aside end */
/* main end */
